.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.content{
    background-color: azure;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
}